 /*CSS general*/
 html *{
  margin: 0;
 }

 html{
  height: 100%;
 }

 body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
 }

  /*CSS header*/

 nav{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: #f44336;
  padding:10px;
  height: 80px;
  color: #fff;
}

nav ul{
  display: flex;
  gap: 10px;
  justify-content: space-between;
  list-style: none;


}
nav ul li{
  font-size: 20px;

}

nav ul li input{
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

.logo{  
  object-fit: cover;
  width: 200px;
  }
/*CSS main*/
.container{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.container main{
  border: 1px dashed #f44336;
  width: 70%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

}

.container aside{
  border: 1px dashed #f44336;
  width: 30%;
  height: 500px;
  display: flex;

  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  
  
}

.description-box{
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #f44336;
  
}

.photo-box{
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f44336;
}

.pokemon-details{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.pokemon-carrusel{
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f44336;
}

aside ul{
  display: flex;
  flex-direction: column;
  gap: 1px;
  list-style: none;
}

/*CSS footer*/

footer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f44336;
  height: 30%;
  color: #fff;
}

.social-media{
  padding: 0%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  list-style: none;
  
}
