 /*CSS general*/
 html *{
  margin: 0;
 }

 html{
  height: 100%;
 }

 body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
 }

  /*CSS header*/

 nav{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: #f44336;
  padding:10px;
  height: 80px;
  color: #fff;
}

nav ul{
  display: flex;
  gap: 10px;
  justify-content: space-between;
  list-style: none;


}
nav ul li{
  font-size: 20px;

}

nav ul li input{
  width: 200px;
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

.logo{  
  object-fit: cover;
  width: 200px;
  }

  button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    color: #f44336;
    font-size: 15px;
    cursor: pointer;
  }

  button:hover{
    background-color: #f44336;
    color: #fff;
    transition: 0.5s;
  }

  .pokemoncount{
    font-size: 20px;
    font-weight: bold;
    background-color: #37796C ;
    color: #fff;
    padding: 5px;
    border-radius: 5px;

  }
/*CSS main*/
.container{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.container main{
  border: 1px dashed #37796C ;
  width: 70%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

}

.container aside{
  border: 1px dashed #37796C ;
  width: 30%;
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: scroll;
  
  
}

aside ul{
  display: flex;
  padding: 0%;
  flex-direction: column;
  gap: 1px;
  list-style: none;
  width: 100%;
}

.container aside ul li{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0C3348  ;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  
}
.container aside ul li:hover{
  background-color: #fff;
  color: #37796C ;
  transition: 0.5s;
}



.description-box{
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
 
}

.description-box p{
  font-size: 20px;
  text-align: center;
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.photo-box{
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.photo-box img{
  transform: scale(1.5);
}

.pokemon-details{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.pokemon-carrusel{
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
.carrusel{
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


/*CSS footer*/

footer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #f44336;
  height: 30%;
  color: #fff;
}

.social-media{
  padding: 0%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  list-style: none;
  
}
